
	<div class="jumbotron">
		<div class="container">
		</div>
	</div>


	<div class="container">

		<div class="row">
				<h6 align="center" >About Us</h6>
				</br>
				<hr></hr>
				</br>
				</br>
				</br>

				<div style="margin-right:25%; margin-left:25%">
					<p>
						Site d'annonce pour tous entièrement gratuit et libre créé par Marc BERGDOLL et Yoann CALONNEC.
					</p>
				</div>
				</br>
				</br>
				</br>

		</div>

	</div>


