
	<div class="jumbotron">
		<div class="container">
		</div>
	</div>


	<div class="container">

		<div class="row">
				<h6 align="center" >
				Help
				</h6>
				<hr></hr>
				<div style="margin-right:25%; margin-left:25%">
					<p>
						Site d'annonce pour tous entièrement gratuit et libre.
 						Regarder les annonces sur la page d'accueil ou faite une recherche grâce à la barre de recherche.
					</br>
						Connected vous pour avoir accès au contenu de l'annonce et au vendeur.
					</p>
					</br>
					<p>
						Sur MySpace, vous pouvez déposer vos annonces et supprimer celles qui sont obsolètes.
					</p>
					</br>
					<p>
						Sur MySpace, les images que vous déposer doivent être stockées sur un hébergeur.
					</p>
				</div>
		</div>

	</div>


